body
{
    
}
header,footer{
    background:#8b603d;
    color:white;
    padding:15px;
    border:2px solid #4B4B4B;
}
.left-menu{
    float:left;
    padding:15px;
}
right-content{
    float:right;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    padding: 8px;
    margin-bottom: 8px;
}
nav ul li{
    background-color:deepskyblue;
    width:100px;
    height:15px;
    margin:10px;
    padding:2px;
}
nav a{
    font-size:15px;
    text-decoration:none;
    color:white;
}